/* src/App.css */
.app-layout {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
}

.main-view {
  margin-left: 240px;
  padding: 40px;
  flex: 1;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #dbe6f6, #c5796d);
}
